---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Lo que buscas aun está en desarrollo">
  <main class="main">
    <h1>El recurso que buscas aún esta en desarrollo</h1>
    <p>
      Vuelve mas tarde.
    </p>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
  }
</style>
