---
import EmtpyState from "@components/EmtpyState.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Lo que buscas aun está en desarrollo">
  <main class="main">
    <EmtpyState title="Lo que buscas aun está en desarrollo" description="Vuelve mas tarde"/>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
  }
</style>
