---
import EmtpyState from "@components/EmtpyState.astro";
import ListPosts from "@components/ListPosts.astro";
import type { Post } from "@models/post";
import Layout from "../layouts/Layout.astro";

let posts: any[] = [];

try {
  posts = await Astro.glob<Post>("./blog/*.mdx");
} catch (error) {}
---

<Layout title="Blog">
  <main class="main">
    <h2>Blog</h2>
    {
      posts.length === 0 && (
        <EmtpyState
          title="Por el momento no hay ningún post"
          description="Aquí encontrarás todos los tutoriales, vuelve pronto"
        />
      )
    }

    {posts.length > 0 && <ListPosts posts={posts} />}
  </main>
</Layout>
