---
import EmtpyState from "@components/EmtpyState.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gists.">
  <main class="main">
    <EmtpyState
      title="Por el momento no hay ningúna pregunta"
      description="Aquí encontrarás las preguntas mas comunes sobre SQL"
    />
  </main>
</Layout>
