---
import EmtpyState from "@components/EmtpyState.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gists">
  <main class="main">
    <EmtpyState
      title="Por el momento no hay ningún gist"
      description="Aquí encontrarás todos los trucos/scripts de SQL, vuelve pronto"
    />
  </main>
</Layout>
