---
import Layout from "../layouts/Layout.astro";
import EmtpyState from "@components/EmtpyState.astro";
import ListPosts from "@components/ListPosts.astro";
import type { Post } from "@models/post";

const guides = await Astro.glob<Post>("./guides/*.mdx");
---

<Layout title="Guías">
  <main class="main">
    <h2>Guías</h2>
    {
      guides.length === 0 && (
        <EmtpyState
          title="Por el momento no hay ningún guía"
          description=""
        />
      )
    }

    {
      guides.length > 0 && <ListPosts posts={guides} />
    }
  </main>
</Layout>
