<footer>
  <a href="https://github.com/vickvasquez/sql-wiki/blob/main/CONTRIBUTING.MD" target="_blank" rel="noopener">Quiero contribuir</a>
</footer>
<style>
  footer {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }
</style>
