<header>
  <a href="/">
    <img src="/images/logo.png" height="60px" width="auto" alt="sql">
    <h1 class="text-gradient">Wiki</h1>
  </a>
</header>
<style>
  header {
    display: flex;
    padding: 10px 60px;
  }

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
  }
</style>
