---
import type { MDXInstance } from "astro";

import type { Post } from "@models/post";
import sortByDate from "@utils/sortByDate";
import formatDateToLong from "@utils/formatDateToLong";

interface Props {
  posts: MDXInstance<Post>[];
}

const { posts = [] } = Astro.props as Props;

const postsSorted = sortByDate(posts);
---

<ul role="list" class="post-card-grid">
  {
    postsSorted.map((post) => (
      <li>
        <h2>
          <a href={post.url}>{post.frontmatter.title}</a>
        </h2>
        <time>{formatDateToLong(post.frontmatter.date)}</time>
        {post.frontmatter.description !== post.frontmatter.title && (
          <p>{post.frontmatter.description}</p>
        )}
      </li>
    ))
  }
</ul>
<style>
  .post-card-grid {
    display: grid;
    gap: 1.5rem;
    padding: 0;
  }

  li {
    margin: 0;
    list-style: none;
  }
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 0 0;
    border-radius: 0.35rem;
    background-color: var(--white);
    color: var(--text-color);
  }

  p {
    margin-bottom: 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  time {
    margin-bottom: 0.7rem;
    font-size: 14px;
    color: #111;
    display: block;
    opacity: 0.8;
  }
</style>
