---
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';

const { title } = Astro.props;
const content="SQL Wiki, Aquí encontraras todo lo relacionado con el lenguaje SQL"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={content} />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
